### creating series with pandas

In [2]:
import pandas as pd

In [3]:
animals=["tiger","bear","moose"]
s=pd.Series(animals)
s

0    tiger
1     bear
2    moose
dtype: object

In [4]:
s.index

RangeIndex(start=0, stop=3, step=1)

In [5]:
s.name="animals"

In [6]:
number=[1,2,None]
pd.Series(number)

0    1.0
1    2.0
2    NaN
dtype: float64

In [7]:
import numpy as np
np.nan==None

False

In [8]:
np.nan==None

False

In [9]:
sports={"archery":"bhutan",
        "golf":"scotland",
       "sumo":"japan",
       "taekwondo":"south korea"}
s=pd.Series(sports)
s

archery           bhutan
golf            scotland
sumo               japan
taekwondo    south korea
dtype: object

In [10]:
s.index

Index(['archery', 'golf', 'sumo', 'taekwondo'], dtype='object')

In [11]:
sports={"archery":"bhutan",
        "golf":"scotland",
       "sumo":"japan",
       "taekwondo":"south korea"}
s=pd.Series(sports,index=["golf","sumo","hockey"])
s

golf      scotland
sumo         japan
hockey         NaN
dtype: object

### Querying a Series

In [12]:
sports={"archery":"bhutan",
        "golf":"scotland",
       "sumo":"japan",
       "taekwondo":"south korea"}
s=pd.Series(sports)
s

archery           bhutan
golf            scotland
sumo               japan
taekwondo    south korea
dtype: object

In [13]:
s.iloc[3]

'south korea'

In [14]:
s.loc["golf"]

'scotland'

In [15]:
sports={99: "bhutan",
        100:"scotland",
       101:"japan",
      102:   "south korea"}
s=pd.Series(sports)
s

99          bhutan
100       scotland
101          japan
102    south korea
dtype: object

In [16]:
s.loc[101]

'japan'

In [17]:
s.iloc[0]

'bhutan'

In [18]:
s=pd.Series([100.00,120.00,101.00,3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [19]:
for each in s:
    print(each)

100.0
120.0
101.0
3.0

In [20]:
np.random.randint(0,1000,10000)

array([697, 810, 967, ..., 281, 623, 273])

In [21]:
s=pd.Series(np.random.radint(0,1000,10000))
s.head()

AttributeError: module 'numpy.random' has no attribute 'radint'

In [22]:
len(s)

4

In [23]:
%%timeit -n 5
summary = 0
for item in s:
    summary+=item

20 µs ± 4.95 µs per loop (mean ± std. dev. of 7 runs, 5 loops each)

In [25]:
s.head()

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [26]:
for label, value in s.iteritems():
    s.set_value(label, value+2)
s.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

0    102.0
1    122.0
2    103.0
3      5.0
dtype: float64

In [27]:
s.set_value(8,900)
s.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """Entry point for launching an IPython kernel.

0    102.0
1    122.0
2    103.0
3      5.0
8    900.0
dtype: float64

In [28]:
%%timeit -n 1
s=pd.Series(np.random.randint(0,1000,10000))
for label, value in s.iteritems():
    s.loc[label]= value+2

7.96 s ± 42.3 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)